@using Cuchillos2023.Models.Models;
@model Numero
@{
    ViewData["Title"] = "Delete";
}

<form method="post" asp-controller="Numero" asp-action="Delete">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Borrar Número</h2>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Numeroo"></label>
            <input asp-for="Numeroo" class="form-control" disabled />
        </div>

        <button type="submit" class="btn btn-danger" style="width:200px">Borrar</button>
        <a asp-controller="Numero" asp-action="Index" style="width:200px" class="btn btn-success">Volver</a>
    </div>
</form>
